@{
    ViewData["Title"] = "Password Reset Confirmation";
    Layout = "../Shared/_adminLayout.cshtml";

}

<h2>@ViewData["Title"]</h2>

<p>Your password has been successfully reset. You can now log in with your new password.</p>
<a href="@Url.Action("ProjectManagerDetails", "ProjectManager")" class="btn btn-primary">Go to Details</a>
