@model ProjectTask

@{
    ViewData["Title"] = "Assign Employee to Task";
}

<h2>Assign Employee to Task</h2>

<h4>@Model.Title</h4>

<hr />

<form asp-action="AssignTask" method="post">
    <div class="form-group">
        <label asp-for="Employee" class="control-label"></label>
        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.Employees"></select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>
    <input type="hidden" name="taskId" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Assign Employee</button>
    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
</form>


