@page
@model ERP_Project.Areas.Identity.Pages.Account.RegisterModel
@{

    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-6 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/images/logo.svg">
                            </div>
                            <h4>Create a New Account</h4>
                            <h6 class="font-weight-light">Fill in the details to register</h6>

                            <form method="post">
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.FirstName"></label>
                                    <input asp-for="Input.FirstName" class="form-control" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.LastName"></label>
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label asp-for="Input.DateOfBirth" class="control-label"></label>
                                    <input asp-for="Input.DateOfBirth" type="date" class="form-control form-control-lg" />
                                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Input.Gender" class="control-label"></label>
                                    <select asp-for="Input.Gender" class="form-control form-control-lg">
                                        <option value="">-- Select Gender --</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.Address"></label>
                                    <input asp-for="Input.Address" class="form-control" />
                                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.PhoneNumber"></label>
                                    <input asp-for="Input.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>

                               

                                <!-- Department dropdown -->
                                <div class="form-group">
                                    <label asp-for="Input.DepartmentId" class="control-label"></label>
                                    <select asp-for="Input.DepartmentId" class="form-control" asp-items="@(ViewData["Departments"] as SelectList)">
                                        <option value="">-- Select Department --</option>
                                    </select>
                                    <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.Designation"></label>
                                    <input asp-for="Input.Designation" class="form-control" />
                                    <span asp-validation-for="Input.Designation" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/jquery.cookie.js"></script>

</body>
</html>
